.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header {
    background: url("../img/background/section-1(header).jpg") fixed center no-repeat;
    background-size: cover;
    height: 1012px;
    margin-bottom: 8px;
}

.header_navbar {
    background: rgba(94, 93, 88, 0.6);
    margin-bottom: 264px;
}

.header_navbar_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

.header_navbar_icon {
    display: flex;
    align-items: center;
}

.header_navbar_icon_letter {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    background: #18CFAB;
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-right: 6px;

}

.header_navbar_icon_word {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

.header_navbar_icon_word_color {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #18CFAB;
}

.header_navbar_list {
    display: flex;
    align-items: center;

}

.header_navbar_list_item {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-right: 21px;
}

.header_navbar_list_item:last-child {
    margin: 0;
}

.header_navbar_list_item_link {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    position: relative;
}

.header_navbar_list_item_link:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #18CFAB;
    bottom: -51px;
    width: 0;
}

.header_navbar_list_item_link:hover:before {
    width: 100%;
    transition: .5s;
}

.header_navbar_list_item_link:hover {
    color: #18CFAB;
    transition: 1s;
}

.active-link {
    color: #18CFAB;
}


.header_title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 35px;
    text-align: center;
    margin-bottom: 22px;
}

.header_title_color {
    color: #18CFAB;
}

.header_title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.header_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #d4d4d4;
    font-size: 35px;
    text-align: center;
}

.header_box {
    margin-top: 134px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header_box_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}

.header_box_bg {
    content: "";
    width: 154px;
    position: absolute;
    background: white;
    height: 71px;
    bottom: 0;
    right: 594px;
    border-radius: 5px;
    z-index: 0;
}

.header_box_bg2 {
    content: "";
    width: 155px;
    position: absolute;
    background: white;
    height: 71px;
    bottom: 0;
    right: 413px;
    border-radius: 5px;
    z-index: 0;

}

.main_background_block {
    content: "";
    width: 156px;
    position: absolute;
    background: white;
    height: 71px;
    bottom: 127px;
    border-radius: 5px;
    z-index: 0;
}

.header_box_button:last-child {
    background: #00CBF6;
    margin-left: 26px;
    padding-right: 11px;
    padding-left: 11px;
}

.main_block {
    display: flex;
    margin-bottom: 83px;
}

.main_block_item {
    text-align: center;
    width: 25%;
}

.black {
    background: #1C2A33;
    padding: 95px 0 110px;
}

.light {
    background: #18CFAB;
    padding: 105px 0 110px;
}

.main_block_item_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.black .main_block_item_text {
    color: #18CFAB;
    margin-top: 48px;
}

.light .main_block_item_text {
    color: #FFFFFF;
    margin-top: 58px;
}

.main_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
}

.main_title:after {
    content: "";
    width: 75px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: -30px;
    margin-left: 18px;
}

.main_title:before {
    content: "";
    width: 75px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: -26px;

}

.main_list {
    display: flex;
    margin-bottom: 23px;
}

.main_list_item {
    display: flex;
    justify-content: center;
    width: 16.6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    border: 1px solid #EDEFEF;
    padding: 17px 0;
    cursor: pointer;
}

.main_list_item:hover {
    border: 1px solid #18CFAB;
}

.main_list_item.active {
    background: #18CFAB;
    color: #FFFFFF;
    position: relative;
}

.main_list_item.active:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #18CFAB;
    bottom: -9px;
    transform: rotate(45deg);
}

.main_info {
    display: none;
    margin-bottom: 91px;
}

.main_info_picture {
    width: 192px;
    height: 144px;
}

.main_info_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
}

.main_info.active {
    display: flex;
}

.main_background {
    background: url("../img/background/section-2.jpg") fixed center no-repeat;
    background-size: cover;
}

.dark_block {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 127px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main_background_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 12px;
}

.main_background_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.main_background_button {
    background: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 11px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    z-index: 1;
}

.main_background2 {
    background: #E9EDEF;
    padding: 96px 0 100px;
    margin-bottom: 82px;
}

.main_tab {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.main_tab_item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 14px 15px;
    cursor: pointer;
}

.main_tab_item:first-child {
    padding: 13px 27px;
}

.main_tab_item.active {
    border: 3px solid #18CFAB;
    color: #18CFAB;

}

.main_pictures {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.main_pictures_box {
    position: relative;
    height: 210px;
}

.main_pictures_box_hover {
    position: absolute;
    background: #E9EDEF;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    top: 105px;

}

.main_pictures_box_hover:before {
    content: "";
    position: absolute;
    border-top: 6px solid #18CFAB;
    width: 100%;
}

.main_pictures_box_hover_svg {
    margin-top: 48px;
    display: flex;
    margin-bottom: 23px;
}

.main_pictures_box_hover_svg_circle {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_pictures_box_hover_svg_circle_square {
    background: #18CFAB;
    width: 12px;
    height: 11px;
}

.main_pictures_box_hover_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.main_pictures_box_hover_subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.main_pictures_box_hover_svg_circle:hover {
    background: #18CFAB;
}

.main_pictures_box_hover_svg_circle:hover svg path {
    fill: white;
}

.main_pictures_box_hover_svg_circle:hover .main_pictures_box_hover_svg_circle_square {
    background: white;
}

.main_pictures_box_hover_svg_circle:nth-child(1) {
    margin-right: 3px;
}

.main_pictures_box:hover .main_pictures_box_hover {
    transform: scaleY(1);
    transition: 1s;
    top: 0;
}

.main_pictures_item {
    height: 210px;
    width: 287px;
}

.none1 {
    display: none;
}

.none2 {
    display: none;
}

.none3 {
    display: none;
}

.main_box {
    display: flex;
    justify-content: center;
    position: relative;
}

.hidden {
    visibility: hidden;
}

.middle {
    bottom: 33px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.second_middle {
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.bar {
    width: 7px;
    height: 48px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 1.2s linear infinite;
}

.bar1 {
    animation-delay: 0.1s;
}

.bar2 {
    animation-delay: 0.2s;
}

.bar3 {
    animation-delay: 0.3s;
}

.bar4 {
    animation-delay: 0.4s;
}

.bar5 {
    animation-delay: 0.5s;
}

.bar6 {
    animation-delay: 0.6s;
}

.bar7 {
    animation-delay: 0.7s;
}

.bar8 {
    animation-delay: 0.8s;
}

.main_box_button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    display: flex;
    align-items: center;
    padding: 10px 23px 10px 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main_box_button svg {
    margin-right: 15px;
}

.main_figure {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 129px;
}

.main_figure_item {
    position: relative;
    margin-bottom: 9px;
}

.main_figure_item_square {
    position: absolute;
    background: #203E38;
    top: 0;
    right: 0;
    padding: 7px 18px;
}

.main_figure_item_square_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.main_figure_item_box {
    margin-left: 20px;
}

.main_figure_item_box_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.main_figure_item_box_subtext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.main_figure_item_box_subtext_stick:after {
    content: "|";
    margin: 0 20px;
}

.main_figure_item:hover .main_figure_item_square {
    background: #18CFAB;
}

.main_figure_item:hover .main_figure_item_box_text {
    color: #18CFAB;
}

.main_background3 {
    background: url("../img/background/section-3.jpg") fixed center no-repeat;
    background-size: cover;
    margin-bottom: 108px;
}

.dark_block2 {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 96px 0;
}

.color {
    color: #FFFFFF;
}

.main_slider {
    margin-top: 36px;
    display: flex;
}

.main_slider_item {
    display: none;
    animation: slider 1.5s;
}

.main_slider_item.active {
    display: block;
}

.main_slider_item.active .main_slider_item_img {
    border: 1px solid #18CFAB;
}

.main_slider_item_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
    display: flex;
    align-items: center;
    min-height: 180px;
}

.main_slider_item_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}

.main_slider_item_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
}

.main_slider_item_img {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    box-shadow: 0 0 0 12px rgba(15, 74, 74, 0.7);
    margin: 50px 0;
    object-fit: cover;
}

.main_slider_item_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_slider_item_list_item {
    margin: 0 19px;
}

.main_slider_item_list_item.show {
    display: block;
}

.main_slider_item_list_item.active {
    position: relative;
    bottom: 10px;
}

.main_slider_item_list_item.active .main_slider_item_list_item_img {
    border: 1px solid #18CFAB;
}

.main_slider_item_list_item_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(15, 74, 74, 0.7);
    object-fit: cover;
    cursor: pointer;
}

.main_slider_item_list_button {
    margin-right: 19px;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    position: relative;
    cursor: pointer;
}

.main_slider_item_list_button:hover {
    background: rgba(24, 207, 171, 0.8);
}

.back:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 3px solid #BBBBBB;
    border-left: 3px solid #BBBBBB;
    transform: rotate(-45deg);
    top: 10px;
    left: 11px;
}

.next {
    margin: 0 0 0 19px;
}

.next:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 3px solid #BBBBBB;
    border-right: 3px solid #BBBBBB;
    transform: rotate(45deg);
    top: 10px;
    right: 12px;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 263px 97px 64px 62px 81px 189px 65px;
    grid-gap: 20px;
    margin-bottom: 52px;
    grid-template-areas:
        "item1 item2 item3"
        "item4 item2 item3"
        "item4 item5 item3"
        "item4 item5 item6"
        "item7 item5 item6"
        "item7 item8 item6"
        "item7 item8 item6"
}

.main_grid_changed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 263px 97px 64px 62px 81px 188px 46px 181px 62px 32px 242px;
    grid-gap: 20px;
    margin-bottom: 52px;
    grid-template-areas:
            "item1 item2 item3"
            "item4 item2 item3"
            "item4 item5 item3"
            "item4 item5 item6"
            "item7 item5 item6"
            "item7 item8 item6"
            "item9 item8 item11"
            "item9 item10 item11"
            "item9 item10 item12"
            "item9 item13 item12"
            "item14 item13 item12"
            "item14 item13 item12";
}

.main_grid_house:nth-child(1) {
    grid-area: item1;
}

.main_grid_house:nth-child(2) {
    grid-area: item2;
}

.main_grid_house:nth-child(3) {
    grid-area: item3;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.main_grid_house:nth-child(4) {
    grid-area: item4;
}

.main_grid_house:nth-child(5) {
    grid-area: item5;
}

.main_grid_house:nth-child(6) {
    grid-area: item6;
}

.main_grid_house:nth-child(7) {
    grid-area: item7;
}

.main_grid_house:nth-child(8) {
    grid-area: item8;
}

.main_grid_house:nth-child(9) {
    grid-area: item9;
}

.main_grid_house:nth-child(10) {
    grid-area: item10;
}

.main_grid_house:nth-child(11) {
    grid-area: item11;
    width: 100%;
    height: 100%;
}

.main_grid_house:nth-child(12) {
    grid-area: item12;
}

.main_grid_house:nth-child(13) {
    grid-area: item13;
}

.main_grid_house:nth-child(14) {
    grid-area: item14;
}

.footer {
    background: #22353F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-top: 67px;
    padding: 48px 0;
    text-align: center;
    color: #AEAEAE;
    display: flex;
    flex-direction: column;
}

.footer_color {
    color: #18CFAB;
}

.footer_email {
    color: #AEAEAE;
    text-decoration: underline;
}

@keyframes loader {
    0% {
        transform: scaleY(0.1);
        background: red;
    }
    50% {
        transform: scaleY(1);
        background: yellowgreen;
    }
    100% {
        transform: scaleY(0.1);
        background: transparent;
    }
}

@keyframes slider {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateLetter {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_navbar_icon_letter:hover {
    animation: rotateLetter 2s linear infinite;
}